@charset "utf-8";
/* CSS Document */

/*---------- GENERAL ------------------*/
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

*{
	margin: 0px;
	padding-top: 0px;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #1E1E1E;
	background-size:100% auto;
	background-attachment: scroll;
}

/*------------- BASICOS HTML ---------------- */
/*-----HEADER ------ */
header{
    display: flex;
	flex-direction:column;
	margin: 0px;
	background-image: url("images/header.jpg");
	mix-blend-mode: normal;
	background-size: cover;
}
.logo{
	align-content: center;
	margin: 10px 386px 20px 392px;
}

#usuario{
	width:150px;
	height:30px;
	top:15px;
	left:981px;
	border-radius:70px;
	background: #0A9372;
	position: absolute;
}

#usuario a{
	font-weight: 700;
	font-size: 15px;
	line-height:30px;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #FFFFFF;
}

/*----- NAV ------- */
nav{
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	background-color:#0A9372;
}
nav ul{
	display: flex;
	align-content: center;
	text-align: center;
}
nav ul li{
	display: inline;
}
nav a{
	display: block;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	padding: 0px 60px;
	line-height:40px;
	color:#EAE9E4;
}
nav a:hover{
	color:#FFED07;
	font-size: 20px;
}
/*------ MAIN ------ */

main{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*------ FOOTER ------ */
footer{
	width: 100%;
	height: 100px;
	margin-top: 50px;
	background-image:url("images/footer.jpg");
	mix-blend-mode:normal;
	background-size: cover;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.iconos{
	align-content: center;
}
.copyright{
	align-content: center;
	display: flex;
	font-weight: 400px;
	font-size: 14px;
	line-height: 21px;
	background-color: #EAE9E4;
	color:#1E1E1E;
}

/*----------------------------- INDEX --------------------------------------- */
.personaje {
		height: 400px;
		width: 400px;
		background: url("images/animacion.png");
		position: absolute;
    	left: 10%;
    	top: 13%;
		margin: 0 auto;
		animation: correr 1s steps(5) infinite;	
}

@keyframes correr{
	0%{
		background-position: 0px;
	}
	100%{
		background-position: -2000px;
	}
}
	

.animacion {
	height: 100vh;
	background: url("images/fondo_index.png");
	background-size: cover;
}

.logo_index{
	width: 501px;
    height: 200px;
    background: url("images/index_logo.png");
    position: absolute;
    left: 36%;
    top: 17%;
}

.index_boton{
	width: 381px;
    height: 106px;
    background: url("images/index_boton.png");
    position: absolute;
    left: 42%;
    top: 55%;
}

.index_deco1{
	width: 262px;
    height: 405px;
    background: url("images/index1.png");
    position: absolute;
    left: 70%;
    top: 5%;
}

.index_deco2{
	width: 328px;
    height: 386px;
    background: url("images/index2.png");
    position: absolute;
    left: 3%;
    top: 50%;
}

/*-------------------- MAIN INICIO ---------------------- */
/*---carrusel---*/
.carrusel{
	width: 1152px;
	height: 400px;
	margin-top:20px;
	padding: 0px;
	display: flex;
	align-self: center;
	overflow: hidden;
}
.carrusel ul{
	display: flex;
	align-self: center;
	padding:0px; 
	animation: carrusel 12s infinite alternate;
	animation-timing-function:ease;     
}
.carrusel li{
	padding: 0px;
	list-style: none;
}
@keyframes carrusel{
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/*----1er section----*/
.saludo{
	position: absolute;
	width: 420px;
    height: 70px;
    left: 364px;
    top: 543px;
}
.scrolear{
	width:596px;
    padding: 5px 278px 0px 278px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.scrolear p{
	padding: 80px 0px 80px 28px;
	display:flex;
	align-items:flex-end;
	font-family:'Oxanium';
	font-weight:200;
	font-size:32px;
	line-height:40px;
	color: #FFED07;
}
/*----2do section ---- */
#arte {
    padding: 0px 35px 0px 35px;
    display: flex;  
}
.video {
    display: flex;
	height: 400px;
    padding: 0px 25px 0px 0px;
}
.explicacion {
    width: 452px;
    display: flex;
    flex-direction: column;
}
.titular{
	font-family: 'Oxanium';
	font-weight: 400;
	font-size: 40px;
	display: flex;
	flex-direction: row;
	align-items: center; 
	color: #EAE9E4;
	padding: 0px 0px 10px 0px;	
}
.explicacion p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #EAE9E4;
}
#botonagenda{
	width: 300px;
    height: 50px;
    border-radius: 80px;
    background: #EB5A08;
	margin-top: 25px;
}
#botonagenda a{
	font-family:'Oxanium';
	color:#1E1E1E;
	font-weight:500;
	font-size:20px;
	line-height:25px;
	padding: 15px 26px 16px 26px;
	display: flex;
	flex-direction:column;
	text-align: center;
}
#botonagenda a:hover{
    color:#EAE9E4;
	font-size:22px;
}

/*----------------------------- MAIN AGENDA --------------------------------------- */
.titulo-agenda {
    font-family: 'Oxanium';
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    color: #EAE9E4;
	z-index: 10px;
    padding-left: 79px;
    padding-top: 75px;
}
.subtitulo-agenda {
    font-family: 'Oxanium';
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    color: #EAE9E4;
    padding-left: 79px;
    padding-top: 5px;
}
.buscador-agenda {
    display: flex;
    align-items:flex-start;
    width: 780px;
    justify-content:space-between;
    padding-top: 25px;
}
input {
    border-radius: 25px;
    width: 420px;
    padding-left: 10px;
    height: 24px;
    font-family: "Poppins";   
}
.buscar-agenda {
    padding-left: 76px;
}
.filtros-agenda {
    font-family: "Oxanium";
    color: #EAE9E4;
    background-color: #EB5A08;
    border-radius: 46px;
    width: 221px;
    height: 27px;
    padding-left: 16px;
}
.form-control {
    border-radius: 46px;
    font-family: "Poppins";
    width: 170px;
    height: 25px;
    background-color: #1E1E1E;
    color: #EAE9E4;
    cursor: pointer;
}

.agenda-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;
}
.agenda-flex {
    width: 986px;
    height: auto;
    display: flex;
    flex-flow: wrap;
    align-content: center;
}

.eventos{
    border-radius: 20px;
    margin: 1.5em;
}
/*--EL EFECTO --- */

.hover{
    position:absolute;
}
/*----------------------------- MAIN NOSOTROS --------------------------------------- */
.contenido{
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    padding: 0px 76px 0px 76px;
}
.contenidoderecha {
    width: 609px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 50px 0px 0px 40px;
}
.sloganderecha {
    margin-bottom: 25px;
}
.textoderecha {
    color: #EAE9E4;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    line-height: 30px;
    margin-bottom: 25px;
}

/*----------------------------- MAIN CONTACTO --------------------------------------- */
.form-container3{
    width: 420px;
    height: 541px;
    padding: 0px 133px 0px 76px;
}

.controls3 {
    width: 400px;
    height: 127px;
    padding: 10px;
	border-radius:10px;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
}


/*----------------------------- FORMULARIOS --------------------------------------- */
/*--de INICIAR SESION y CREAR CUENTA --- */
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 900px;
    height: 533px;
    padding: 50px 138px 24px 138px;
}
.artista-container{
    display:flex;
    flex-direction:column;
}
.texto-artista{
    font-family:"Oxanium";
    font-weight:500;
    font-size:16px;
    line-height:20px;
    color:#EAE9E4;
    padding-top:12px;
    text-align:center;
}
.texto-artista:hover{
	font-size: 18px;
}
.form-container{
    width: 420px;
    height: 350px;
    padding: 154px 138px 120px 76px;
}
.form-direccion{
	display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.titulo-iniciar{
    font-family: "Oxanium";
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    color: #EAE9E4;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.controls {
    width: 400px;
    padding: 10px;
    border-radius: 138px;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
}
.clickea{
font-weight: 600;
font-size: 18px;
line-height: 27px;
color:#FFED07;
text-decoration: underline;
}
.clickea:hover{
	color:#EB5A08;
}
.botoncuenta {
    width: 220px;
    height: 40px;
    margin-top: 10px;
    border-radius: 80px;
    background-color: #0A9372;
}
.botoncuenta a{
	font-family:'Oxanium';
	font-weight:500;
	font-size:20px;
	line-height:25px;
	padding: 10px 26px 10px 26px;
	display: flex;
	flex-direction:column;
	text-align: center;
	color: #EAE9E4;
}
.botoncuenta a:hover{
    font-size:22px;
}
.otra-direccion{
	font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 25px 0px 15px 0px;	
}
.consulta{
    padding-right:30px;
    color: #FFFFFF;
}

/*--- de  OLVIDO html el DE LA CONTRASEÑA ---- */
.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
    height: 533px;
    padding: 50px 76px 24px 138px;
}
.form-container2{
    width: 444px;
    height: 350px;
    padding: 154px 120px 120px 76px;
}
.titulo-olvido{
    font-family: "Oxanium";
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    color: #EAE9E4;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.form-direccion2 p{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
	margin-bottom: 20px;
}
.controls2{
    width: 426px;
    padding: 10px;
    border-radius: 138px;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
}
.botonenviar {
    width: 106px;
    height: 35px;
    padding: 11px 27px 7px 27px;
    border-radius: 80px;
    background-color: #0A9372;
}
.botonenviar a {
    font-family: 'Oxanium';
    font-weight: 500;
    font-size: 20px;
    color: #EAE9E4;
    width: 70px;
    height: 20px;
    padding: 8px;
}
.botonenviar a:hover{
    font-size:22px;
}
.navegacion{
		display:none;
}

/*----------------------------------RESPONSIVE----------------------------------------------*/


	
@media screen and (max-width:360px){
	.navegacion{
		display: inline;
	}
	
}