@charset "utf-8";
/* CSS Document */

/*---------- GENERAL ------------------*/
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

*{
	margin: 0px;
	padding-top: 0px;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #1E1E1E;
	background-size:100% auto;
	background-attachment: scroll;
}

/*------------- BASICOS HTML ---------------- */
/*-----HEADER ------ */
header{
    display: flex;
	flex-direction:column;
	margin: 0px;
	height: 200px;
	background-image: url("images/header.jpg");
	mix-blend-mode: normal;
	background-size: cover;
}
.logo{
	align-content: center;
	margin: 10px 386px 20px 392px;
}

#usuario{
	width:150px;
	height:30px;
	top:15px;
	left:981px;
	border-radius:70px;
	background: #0A9372;
	position: absolute;
}

#usuario a{
	font-weight: 700;
	font-size: 15px;
	line-height:30px;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #FFFFFF;
}

/*----- NAV ------- */
nav{
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	background-color:#0A9372;
}
nav ul{
	display: flex;
	align-content: center;
	text-align: center;
}
nav ul li{
	display: inline;
}
nav a{
	display: block;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	padding: 0px 60px;
	line-height:40px;
	color:#EAE9E4;
}
nav a:hover{
	color:#FFED07;
	font-size: 20px;
}

/*------ FOOTER ------ */
footer{
	width: 100%;
	height: 100px;
	margin-top: 50px;
	background-image:url("images/footer.jpg");
	mix-blend-mode:normal;
	background-size: cover;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.iconos{
	align-content: center;
}
.copyright{
	align-content: center;
	display: flex;
	font-weight: 400px;
	font-size: 14px;
	line-height: 21px;
	color: #EAE9E4;
}

/*--------------------------- A PARTIR DE ACA PUEDES TOCAR -------------------------------- */

/*-------------------- MAIN INICIO ---------------------- */
/*---carrusel---*/
.carrusel{
    width:100%;
	margin-top:50px;
    overflow: hidden;
}

.carrusel ul{
	display: flex; 
	padding: 0px;
	animation: carrusel 8s infinite alternate;
	animation-timing-function:ease;     
}
.carrusel li{
	width: 100%;
	list-style: none;
	padding:0px;
}
@keyframes carrusel {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -100%;}
	70% {margin-left: -100%;}
	
	75% {margin-left: -100%;}
	100% {margin-left: -100%;}

/*----1er section---- */
#scrolear{
	
}
.solfeliz{
	padding: 0px 735px 539px 257px;
}
.titular2{
	display:flex;
	align-items:flex-end;
	padding:56px 431px 591px 200px;
	font-family:'Oxanium';
	font-weight:200;
	font-size:32px;
	line-height:40px;
	color: #FFED07;
}
/*----2do section---- */
.titular3{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
}
#botonagenda{
	position: absolute;
	width: 278px;
	height: 50px;
	left: 735px;
	top: 1287px;
	border-radius: 80px;    
	background:#EB5A08;
	/*margin-top:20px?*/
}
#botonagenda a{
	font-family:'Oxanium';
	color:#1E1E1E;
	font-weight:500;
	font-size:20px;
	line-height:25px;
	padding: 15px 26px 16px 26px;
	display: flex;
	flex-direction:column;
	text-align: center;
}
#botontest a:hover{
    color:#EAE9E4;
	font-size:30px;
}


/*------------------------ MAIN INICIAR SESION ----------------------------- */
.form {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
	padding: 150px 200px 124px 553px;
    margin: auto;
    font-family: "Montserrat";
    font-weight: 300;
    color:#EAE9E4;
}
.form a {
	color: #0A9372;
	font-weight: 500;
	text-decoration: none;
}

.form a:hover {
	color: #0A9372;
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
}

.form p {
	color: #EAEAEA;
	font-weight: 500;
	font-size: 16px;
	margin-top: 80px;
}

.botones {
	color: #EAEAEA;
	width: 335px;
	background: #F88312;
	border: none;
	padding: 12px;
	margin: 15px;
	font-size: 18px;
	font-family: "Montserrat";
	font-weight: 700;
	border-radius: 30px;
	transition: .5s all ease;
	overflow: hidden;
	cursor: pointer;
}

.botones, .secundario {
	webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	transition: box-shadow 300ms ease-in-out, color 500ms ease-in-out;
}

.botones:hover, .secundario:hover {
	box-shadow: 0 0 40px 10px /*#FFAF62*/ rgba(234,234,234,0.70) inset;
	z-index: -1;
}

.controls {
	width: 70%;
	background: #EAEAEA;
	padding: 10px;
	margin: 14px;
	border-radius: 10px;
	border: 0;
	font-family: "Montserrat";
	font-size: 18px;
	outline: none;
}

/*----------------------------- INDEX --------------------------------------- */
.personaje {
		height: 400px;
		width: 400px;
		background: url("images/animacion.png");
		position: absolute;
    	left: 10%;
    	top: 13%;
		margin: 0 auto;
		/*background-position: -800px 0;*/
		animation: correr 1s steps(5) infinite;	
}

@keyframes correr{
	0%{
		background-position: 0px;
	}
	100%{
		background-position: -2000px;
	}
}
	

.animacion {
	height: 920px;
	background: url("images/fondo_index.png");
	background-size: cover;
}

.logo_index{
	width: 501px;
    height: 200px;
    background: url("images/index_logo.png");
    position: absolute;
    left: 36%;
    top: 17%;
}

.index_boton{
	width: 381px;
    height: 106px;
    background: url("images/index_boton.png");
    position: absolute;
    left: 42%;
    top: 55%;
}

.index_deco1{
	width: 262px;
    height: 405px;
    background: url("images/index1.png");
    position: absolute;
    left: 70%;
    top: 5%;
}

.index_deco2{
	width: 328px;
    height: 386px;
    background: url("images/index2.png");
    position: absolute;
    left: 3%;
    top: 50%;
}

/*----------------------------- MAIN NOSOTROS --------------------------------------- */
#artistascontentContainer{
	display: flex;
	margin-top: 3%;
}

.derechacontentContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}
.slogancontainer{
	margin-top: 30px;
	margin-bottom: 20px;
}

.textcontainer{
	color: white;
	font-size: 2.5vh;
	width: 70%;
	margin-bottom: 40px;
}