@charset "utf-8";
/* CSS Document */

   /* GENERAL*/
*{
	margin: 0px;
	padding-top: 0px;
	font-family: poppins;
	
}

body {
	background-color: #1E1E1E;
	background-size:100% auto;
	background-attachment: scroll;
}
